extends layout

block content
    div.container.d-flex.flex-column.align-items-center
        h4 Add a New Student
        br
        form(action="/add-student", method="post", class="home-form-container")
            p
                input(type="text", name="name", placeholder="Student Name")
                input(type="number", name="age", placeholder="Student Age")
            br

            div(style="display: flex; justify-content: center")
                button(type="submit", class="btn btn-primary") Add Student
            
            br
            
            div(style="display: flex; justify-content: center")
                a(href="/" class="btn btn-primary") Go Back to Home

