extends layout 
block content 
        div.container.d-flex.flex-column.align-items-center 

            h4 Pick an ID to View Student Details
            <form action="/user" method="post" class="home-form-container">
            p
            select(name='dropDown', id='', class="form-select" style='margin: 2rem 0')
                each item in items
                        option(=item.id) #{value=item.ID + ' '}#{value=item.name}

            button(type="submit", name="action", value="view", class="btn btn-primary") View Student Details
                
                

            hr
