extends layout

block content
    div.container.d-flex.flex-column.align-items-center
        h4 Choose an Option
        br
        br
        a(href="/view-student") View Student Details
        br
        a(href="/add-student") Add a New Student
