extends layout

block content
    div.container.d-flex.flex-column.align-items-center.justify-content-center
        h1(style="text-align: center; margin: 2rem") Success!
        p(style="text-align: center; font-size: 18px") #{msg}
        a(href="/" class="btn btn-primary") Go Back to Home
